@charset "UTF-8";
/**
 * reset
 *
 * @author Ma Junbao <mlive@live.cn> || @github.com/majunbao
*/
a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: visible !important;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  font-size: 0;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td, caption {
  vertical-align: top;
}

.icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: none;
  border: 0;
}

::-ms-clear, ::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

body, input, textarea, keygen, select, button {
  color: #333;
  font-size: 14px;
  font-family: "PingHei","Lucida Grande", "Lucida Sans Unicode", "Helvetica","Arial","Verdana","sans-serif";
}

*:active, *:focus {
  outline: none;
}

.input, textarea, .button {
  /*去除ios webkit默认样式*/
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.clear:after {
  content: "\20";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear {
  *zoom: 1;
}

.on-left {
  float: left;
}

.on-right {
  float: right !important;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.none {
  display: none !important;
}

.hidden {
  overflow: hidden;
}

.visible {
  visibility: visible;
}

.vhidden {
  visibility: hidden;
}

.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-35 {
  margin: 35px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-45 {
  margin: 45px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-55 {
  margin: 55px !important;
}

.margin-60 {
  margin: 60px !important;
}

.margin-top-0 {
  margin-top: 0px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-25 {
  margin-top: 25px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-35 {
  margin-top: 35px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.margin-top-45 {
  margin-top: 45px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.margin-top-55 {
  margin-top: 55px !important;
}

.margin-top-60 {
  margin-top: 60px !important;
}

.margin-right-0 {
  margin-right: 0px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.margin-right-25 {
  margin-right: 25px !important;
}

.margin-right-30 {
  margin-right: 30px !important;
}

.margin-right-35 {
  margin-right: 35px !important;
}

.margin-right-40 {
  margin-right: 40px !important;
}

.margin-right-45 {
  margin-right: 45px !important;
}

.margin-right-50 {
  margin-right: 50px !important;
}

.margin-right-55 {
  margin-right: 55px !important;
}

.margin-right-60 {
  margin-right: 60px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-bottom-35 {
  margin-bottom: 35px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-bottom-45 {
  margin-bottom: 45px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.margin-bottom-55 {
  margin-bottom: 55px !important;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.margin-left-0 {
  margin-left: 0px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-left-25 {
  margin-left: 25px !important;
}

.margin-left-30 {
  margin-left: 30px !important;
}

.margin-left-35 {
  margin-left: 35px !important;
}

.margin-left-40 {
  margin-left: 40px !important;
}

.margin-left-45 {
  margin-left: 45px !important;
}

.margin-left-50 {
  margin-left: 50px !important;
}

.margin-left-55 {
  margin-left: 55px !important;
}

.margin-left-60 {
  margin-left: 60px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-35 {
  padding: 35px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-45 {
  padding: 45px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-55 {
  padding: 55px !important;
}

.padding-60 {
  padding: 60px !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-top-15 {
  padding-top: 15px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-top-25 {
  padding-top: 25px !important;
}

.padding-top-30 {
  padding-top: 30px !important;
}

.padding-top-35 {
  padding-top: 35px !important;
}

.padding-top-40 {
  padding-top: 40px !important;
}

.padding-top-45 {
  padding-top: 45px !important;
}

.padding-top-50 {
  padding-top: 50px !important;
}

.padding-top-55 {
  padding-top: 55px !important;
}

.padding-top-60 {
  padding-top: 60px !important;
}

.padding-right-0 {
  padding-right: 0px !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-right-25 {
  padding-right: 25px !important;
}

.padding-right-30 {
  padding-right: 30px !important;
}

.padding-right-35 {
  padding-right: 35px !important;
}

.padding-right-40 {
  padding-right: 40px !important;
}

.padding-right-45 {
  padding-right: 45px !important;
}

.padding-right-50 {
  padding-right: 50px !important;
}

.padding-right-55 {
  padding-right: 55px !important;
}

.padding-right-60 {
  padding-right: 60px !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-bottom-15 {
  padding-bottom: 15px !important;
}

.padding-bottom-20 {
  padding-bottom: 20px !important;
}

.padding-bottom-25 {
  padding-bottom: 25px !important;
}

.padding-bottom-30 {
  padding-bottom: 30px !important;
}

.padding-bottom-35 {
  padding-bottom: 35px !important;
}

.padding-bottom-40 {
  padding-bottom: 40px !important;
}

.padding-bottom-45 {
  padding-bottom: 45px !important;
}

.padding-bottom-50 {
  padding-bottom: 50px !important;
}

.padding-bottom-55 {
  padding-bottom: 55px !important;
}

.padding-bottom-60 {
  padding-bottom: 60px !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.padding-left-25 {
  padding-left: 25px !important;
}

.padding-left-30 {
  padding-left: 30px !important;
}

.padding-left-35 {
  padding-left: 35px !important;
}

.padding-left-40 {
  padding-left: 40px !important;
}

.padding-left-45 {
  padding-left: 45px !important;
}

.padding-left-50 {
  padding-left: 50px !important;
}

.padding-left-55 {
  padding-left: 55px !important;
}

.padding-left-60 {
  padding-left: 60px !important;
}

.line-1 {
  border-width: 1px;
}

.line-2 {
  border-width: 2px;
}

.line-3 {
  border-width: 3px;
}

/* ======  column  ====== */
.column {
  width: 100%;
  margin: 0 auto;
}

.column:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  min-height: 0;
  visibility: hidden;
  *zoom: 1;
}

.column [class*=col-] {
  margin-left: 1.2%;
  float: left;
}

.column [class*=col-]:first-child {
  margin-left: 0;
}

.column .col-2-1 {
  width: 49.33%;
}

.column .col-3-1 {
  width: 32.46333%;
}

.column .col-3-2 {
  width: 66.19667%;
}

.column .col-4-1 {
  width: 24.03%;
}

.column .col-4-2 {
  width: 49.33%;
}

.column .col-4-3 {
  width: 74.63%;
}

.column .col-5-1 {
  width: 18.97%;
}

.column .col-5-2 {
  width: 39.21%;
}

.column .col-5-3 {
  width: 59.45%;
}

.column .col-5-4 {
  width: 79.69%;
}

.column .col-6-1 {
  width: 15.59667%;
}

.column .col-6-2 {
  width: 32.46333%;
}

.column .col-6-3 {
  width: 49.33%;
}

.column .col-6-4 {
  width: 66.19667%;
}

.column .col-6-5 {
  width: 83.06333%;
}

.text-bold {
  font-weight: bold !important;
}

.text-italic {
  font-style: italic !important;
}

.text-underline {
  text-decoration: underline !important;
}

.text-line-through {
  text-decoration: line-through !important;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.align-justify {
  text-align: justify;
  text-align-last: justify;
}

.align-moddle, .align-middle {
  vertical-align: middle !important;
}

.align-top {
  vertical-align: top;
}

.align-sub {
  vertical-align: sub;
}

.align-text-top {
  vertical-align: text-top;
}

.text-tiny {
  font-size: 10px !important;
}

.white-space {
  white-space: nowrap;
}

.text-small {
  font-size: 12px !important;
}

.text-default {
  font-size: 14px !important;
}

.text-large {
  font-size: 16px !important;
}

.text-larger {
  font-size: 18px !important;
}

.text-opacity {
  opacity: 0.5;
}

.text {
  color: #333 !important;
}

.text-light {
  color: #999 !important;
}

.text-dark {
  color: #333333 !important;
}

a.text:hover,
a.text-light:hover,
a.text-dark:hover {
  color: #5ecbf2 !important;
}

a {
  color: #5ecbf2;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #5ecbf2;
}

a:focus {
  outline: none;
}

/*
* Option Button
*/
/*
* Button Namespace
* 
* 默认是 .button ，根据喜好也可设置为 .btn
*/
/*
* Button Defaults
*
* 根据其他项目改变这些设置。
* 按钮的宽度没有直接用 width 属性设置，而是采用 min-width + padding 的方式，
* 这样按钮有了最小宽度，文字过多时宽度也会自动扩展。
*
* 按钮的高度 采用 height 和 line-height 的方式控制。
* 
*/
/*
* Button Colors
*
* (name, background, color)
* 
*/
/*
* Button Shapes
*
*/
/*
* Button Sizes
*
* (name width height padding font-size)
* 
* smallest smaller small default large larger largest
*/
/*尺寸*/
/*
* Base Botton Style
*
* The default values for the .botton class
*/
.button {
  display: inline-block;
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-size: 14px;
  /*button colors*/
  color: #333333;
  background: transparent;
  /*button shapes*/
  min-width: 88px;
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #D9D9D9;
  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;
  -webkit-user-select: none;
  box-sizing: content-box;
}

.button:hover {
  background: #e1e1e1;
}

.button:active {
  background: transparent;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button object {
  width: 100% !important;
  height: 100% !important;
}

/**
* Disabled State
*
*/
.button-disabled,
.button-disabled:hover {
  background: #dde2ef !important;
  border-color: #dde2ef !important;
  color: #fff !important;
  cursor: not-allowed;
}

/**
* Button color
*
*/
.button-blue {
  background-color: #46a2f6;
  border-color: #46a2f6;
  color: #FFF;
}

.button-blue:hover {
  background-color: #77baf8;
  color: #FFF;
}

.button-blue:active {
  background-color: #50a2ec;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: #2ec07e;
  border-color: #2ec07e;
  color: #FFF;
}

.button-green:hover {
  background-color: #4dd497;
  color: #FFF;
}

.button-green:active {
  background-color: #3ab47d;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-orange {
  background-color: #fcae25;
  border-color: #fcae25;
  color: #FFF;
}

.button-orange:hover {
  background-color: #fdc157;
  color: #FFF;
}

.button-orange:active {
  background-color: #f1ab30;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-while {
  background-color: #FFF;
  border-color: #FFF;
  color: black;
}

.button-while:hover {
  background-color: white;
  color: black;
}

.button-while:active {
  background-color: white;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-grey {
  background-color: #bababa;
  border-color: #bababa;
  color: #FFF;
}

.button-grey:hover {
  background-color: #d4d4d4;
  color: #FFF;
}

.button-grey:active {
  background-color: #bababa;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

/**
* Button size
*
*/
.button-smaller {
  min-width: 18px;
  padding: 0 4px;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
}

.button-small {
  min-width: 60px;
  padding: 0 5px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
}

.button-thin {
  min-width: 52px;
  padding: 0 35px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
}

.button-large {
  min-width: 158px;
  padding: 0 10px;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
}

.button-larger {
  min-width: 290px;
  padding: 0 14px;
  height: 44px;
  line-height: 44px;
  font-size: 20px;
}

.button-border {
  background: none;
}

.button-border:hover {
  background: #fff;
  color: #333333;
}

.button-border:active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  border-color: transparent;
}

.button-border.button-blue {
  border-color: #DFDFDF;
  color: #46a2f6;
}

.button-border.button-blue:hover {
  border-color: #50a2ec;
}

.button-border.button-blue:active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  border-color: #0c85f3;
}

.button-border.button-green {
  border-color: #DFDFDF;
  color: #2ec07e;
}

.button-border.button-green:hover {
  border-color: #3ab47d;
}

.button-border.button-green:active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  border-color: #228f5e;
}

.button-border.button-orange {
  border-color: #DFDFDF;
  color: #fcae25;
}

.button-border.button-orange:hover {
  border-color: #f1ab30;
}

.button-border.button-orange:active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  border-color: #e19003;
}

.button-border.button-while {
  border-color: #DFDFDF;
  color: #FFF;
}

.button-border.button-while:hover {
  border-color: white;
}

.button-border.button-while:active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  border-color: #e0e0e0;
}

.button-border.button-grey {
  border-color: #DFDFDF;
  color: #bababa;
}

.button-border.button-grey:hover {
  border-color: #bababa;
}

.button-border.button-grey:active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  border-color: #9b9b9b;
}

.button-radius {
  border-radius: 200px;
}

.border-bottom-none {
  border-bottom: none !important;
}

.border-top-none {
  border-top: none !important;
}

/*
* Option Input
*/
/*
* Input Namespace
* 
* 默认是 input ，根据喜好也可设置为 .input or input[type=text]
*/
/*
* Input Defaults
*
* 根据其他项目改变这些设置。
*
* 
*/
/*
* Input Colors
*
* (name, border-color, color)
* 
*/
/*
* Input Sizes
*
* (name width height padding font-size)
* smallest smaller small default large larger largest
*/
/*尺寸*/
.input {
  margin: 0;
  outline: none;
  vertical-align: middle;
  padding: 0 10px;
  width: 208px;
  line-height: 28px;
  *line-height: 1;
  height: 28px;
  border-style: solid;
  border-width: 1px;
  border-color: #D0D0D0;
  color: #333;
  border-radius: 3px;
}

.input:hover {
  border-color: #77baf8;
}

.input:active,
.input:focus {
  border-color: #46a2f6;
}

/**
* Disabled State
*
*/
.input-disabled,
.input-disabled:hover {
  background: #dde2ef !important;
  border-color: #dde2ef !important;
  color: #fff !important;
  cursor: not-allowed;
}

/**
* Input colors
*
*/
.input-blue {
  border-color: #46a2f6;
  color: #46a2f6;
}

.input-blue:hover {
  border-color: #77baf8;
  color: #46a2f6;
}

.input-blue:active, .input-blue:focus {
  border-color: #50a2ec;
}

.input-green {
  border-color: #2ec07e;
  color: #2ec07e;
}

.input-green:hover {
  border-color: #4dd497;
  color: #2ec07e;
}

.input-green:active, .input-green:focus {
  border-color: #3ab47d;
}

.input-orange {
  border-color: #fcae25;
  color: #fcae25;
}

.input-orange:hover {
  border-color: #fdc157;
  color: #fcae25;
}

.input-orange:active, .input-orange:focus {
  border-color: #f1ab30;
}

.input-grey {
  border-color: #bababa;
  color: #bababa;
}

.input-grey:hover {
  border-color: #d4d4d4;
  color: #bababa;
}

.input-grey:active, .input-grey:focus {
  border-color: #bababa;
}

/**
* Input sizes
*
*/
.input-smaller {
  width: 18px;
  padding: 0 4px;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
}

.input-small {
  width: 68px;
  padding: 0 8px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
}

.input-large {
  width: 250px;
  padding: 0 14px;
  height: 28px;
  line-height: 28px;
  font-size: 16px;
}

.input-larger {
  width: 470px;
  padding: 0 14px;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
}

.input-radius {
  border-radius: 200px;
}

/*
 * select plugin
 *
 */
.select {
  position: relative;
  border: 1px solid #DFDFDF;
  min-width: 108px;
  *width: 108px;
  padding: 0 30px 0 0;
  height: 28px;
  border-radius: 28px;
  line-height: 28px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  color: #333;
  cursor: pointer;
  overflow: hidden;
}

.select:hover i {
  background-position: -14px -43px;
}

.select .btn-select {
  display: block;
  padding-left: 14px;
}

.select select {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  opacity: 0.001;
  filter: alpha(opacity=0.1);
  z-index: 2;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.select select:hover {
  cursor: pointer;
}

.select i {
  position: absolute;
  right: 9px;
  top: 50%;
  margin-top: -3px;
  z-index: 1;
  display: block;
  width: 12px;
  height: 7px;
  background: url(../images/form.png) no-repeat 0 -43px;
}

.select:after {
  content: '';
  display: block;
  width: 30px;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  background-color: #f6f6f6;
}

.select:hover {
  border-color: #77baf8;
  cursor: pointer;
}

.select:active,
.select:focus {
  border-color: #46a2f6;
}

.select-disabled {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.select-disabled select:hover {
  cursor: not-allowed;
}

.select-disabled i {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.select-larger {
  width: 188px;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
}

.select-larger select {
  font-size: 16px;
}

.select-small {
  font-size: 12px;
  background-color: #fff;
  line-height: 22px;
  height: 22px;
  min-width: 46px;
  *width: 46px;
  padding-right: 22px;
}

.select-small:after {
  width: 22px;
}

.select-small i {
  right: 6px;
}

.select-small select {
  font-size: 16px;
}

.table {
  width: 100%;
  color: #333;
  font-size: 14px;
  border: 1px solid #e2e9f0;
  background-color: #fff;
  text-align: left;
}

.table th {
  padding: 10px 0 10px 20px;
  color: #333;
  background-color: #F4F7FA;
  border-bottom: 1px solid #e2e9f0;
}

.table td {
  padding: 10px 0 10px 20px;
  vertical-align: middle;
}

.table tbody tr {
  border-bottom: 1px solid #e2e9f0;
}

/*
* Tab Config
*/
.tab {
  position: relative;
}

.tab ul.tab-header {
  height: 38px;
}

.tab ul.tab-header li {
  float: left;
  height: 100%;
}

.tab ul.tab-header li a {
  display: inline-block;
  background-color: #46a2f6;
  text-align: center;
  padding: 0 10px;
  min-width: 80px;
  text-decoration: none;
  color: #fff;
  height: 100%;
  line-height: 38px;
  border-left: 1px solid #59a1e3;
}

.tab ul.tab-header li.now a {
  color: #000;
  font-weight: bold;
  background-color: #f4f5f9;
}

.tab div.tab-content {
  display: none;
}

.tab div.tab-content.now {
  display: block;
  padding: 15px 10px;
  background-color: #f4f5f9;
}

/*兼容*/
.ie6 .tab div.now,
.ie7 .tab div.now {
  /*这个不用display:block;是为了兼容IE67浏览器*/
  display: inline-block;
}

.ie6 .tab ul.tab-header li a {
  width: expression(this.scrollWidth>100?'auto':'79px');
}

.label {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background-color: #46a2f6;
  padding: 5px 10px;
  border-radius: 5px;
}

/*
*
* Lable Colors
*
* (name background)
*/
.label-blue {
  background: #46a2f6;
}

.label-green {
  background: #2ec07e;
}

.label-orange {
  background: #fcae25;
}

.label-grey {
  background: #bababa;
}

.label-group .label {
  margin-right: 5px;
}

.label-group .label:last-child {
  margin-right: 0;
}

tip {
  display: block;
  position: absolute;
  z-index: 1000;
  max-width: 220px;
}

tip .tip-inner {
  background-color: #464646;
  color: #ededed;
  padding: 8px 22px;
  border-radius: 6px;
  line-height: 1.5;
}

tip .tip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed #464646;
}

tip.tip-top .tip-arrow, tip.tip-bottom .tip-arrow {
  left: 50%;
  margin-left: -5px;
  border-right-color: transparent;
  border-left-color: transparent;
}

tip.tip-left .tip-arrow, tip.tip-right .tip-arrow {
  top: 50%;
  margin-top: -5px;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

tip.tip-left .tip-arrow {
  right: 0;
  border-right: none;
  border-left-style: solid;
  /*IE678*/
}

tip.tip-right .tip-arrow {
  left: 0;
  border-left: none;
  border-right-style: solid;
  /*IE678*/
}

tip.tip-top .tip-arrow {
  bottom: 0;
  border-bottom: none;
  border-top-style: solid;
  /*IE678*/
}

tip.tip-bottom .tip-arrow {
  top: 0;
  border-top: none;
  border-bottom-style: solid;
  /*IE678*/
}

.tip-top {
  padding-bottom: 5px;
}

.tip-right {
  padding-left: 5px;
}

.tip-bottom {
  padding-top: 5px;
}

.tip-left {
  padding-right: 5px;
}

tip.small .tip-inner {
  font-size: 12px;
  padding: 5px 15px;
}

/*兼容*/
.ie6 .tip-top {
  padding-bottom: 5px;
}

.ie6 .tip-right {
  padding-left: 5px;
}

.ie6 .tip-bottom {
  padding-top: 5px;
}

.ie6 .tip-left {
  padding-right: 5px;
}

.ie6 tip {
  width: expression(this.scrollWidth > 220 ? "222px" : "auto");
}

tip.small {
  width: auto !important;
}

/*
* Config
* 
*/
/*
*
* Mixin
*/
/*
*
* Base
*/
.notice {
  padding: 20px;
  color: #fff;
  background-color: #46a2f6;
}

.notice h1 {
  font-size: 16px;
  font-weight: bolder;
  margin: 0 0 10px 0;
}

.notice-bule {
  background: #46a2f6;
}

.notice-green {
  background: #2ec07e;
}

.notice-orange {
  background: #fcae25;
}

.notice-grey {
  background: #bababa;
}

.page {
  font-size: 0;
  -webkit-user-select: none;
  line-height: 35px;
}

.page a {
  color: #575E79;
  padding: 0 10px;
  min-width: 15px;
  text-align: center;
  text-decoration: none;
  margin-right: -1px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  /*ie678 解决汉子和数字上下不对齐*/
  background-color: #fff;
  border: 1px solid #DAE1E8;
}

.page a:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.page a:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.page a.now, .page a:hover {
  background-color: #F1F5F9;
}

.page a.disabled {
  color: #999999;
}

.page.page-right {
  text-align: right;
}

.page.page-right a {
  margin-right: 0;
  margin-left: -1px;
}

.page .page-prev i,
.page .page-next i {
  background: url(../images/form.png) no-repeat 0 -60px;
  width: 10px;
  height: 9px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.page .page-next i {
  background-position: -14px -60px;
}

.pages .page {
  display: inline;
}

/*兼容*/
.ie6 .page a.disabled {
  background-color: transparent !important;
  color: #999;
}

.progress {
  height: 20px;
  line-height: 20px;
  border: 4px solid var(--grey-light);
  background-color: #ecf1f5;
}

.progress-bar {
  background-color: #2ec07e;
  color: #fff;
  text-indent: 10px;
  transition: width 0.3s;
}

.progress-small {
  height: 14px;
  line-height: 14px;
}

.progress.radius {
  border-radius: 20px;
  overflow: hidden;
}

.form fieldset {
  border: none;
}

.form fieldset .f-label {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 112px;
}

.form fieldset label.long {
  width: 300px;
}

.form label.input-orange {
  margin-left: 10px;
}

.form-m20 fieldset {
  padding-bottom: 20px;
}

/*
* Config
*/
/*
* Mixin
*/
/*
* Base
*/
.textarea {
  margin: 0;
  border: 0;
  outline: none;
  overflow: auto;
  border: 1px solid #E1E1E1;
  padding: 10px;
  width: 468px;
  min-height: 103px;
}

.textarea:hover {
  border-color: #77baf8;
}

.textarea:focus,
.textarea:active {
  border-color: #46a2f6;
}

.textarea[disabled],
.textarea-disabled {
  background-color: #dde2ef;
  border: 1px solid #dde2ef;
  color: #fff;
}

.textarea[disabled]:hover,
.textarea[disabled]:focus .textarea-disabled:hover,
.textarea-disabled:focus {
  cursor: not-allowed;
}

/*兼容*/
.ie6 textarea {
  height: 88px;
  background-color: transparent;
}

.banner {
  height: 480px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.banner-item {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 0;
  visibility: hidden;
}

.banner-item.now {
  z-index: 1;
  visibility: visible;
}

.banner-item-img {
  height: 480px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.banner-item.now .banner-item-img {
  opacity: 1;
  visibility: visible;
}

.banner-item-text {
  position: relative;
  z-index: 1;
  width: 1280px;
  margin: 0 auto;
  margin-top: 100px;
}

.banner-item-text-inner {
  overflow: hidden;
  white-space: nowrap;
}

.banner-item-text span {
  font-size: 16px;
  color: #FFF;
  background-color: #FFBE34;
  padding: 7px;
  display: inline-block;
}

.banner-item-text h2 {
  font-size: 75px;
  color: #323232;
  padding-top: 20px;
  line-height: 100%;
}

.banner-item-text h3 {
  font-size: 16px;
  color: #6B6B6B;
  padding-top: 14px;
}

.banner-item-text .button {
  margin-top: 75px;
}

.banner .ctrl {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 1;
  font-size: 0;
}

.banner .ctrl .ctrl-i {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 30px;
  height: 10px;
  margin: 0 3px;
  background-color: #E6E6E6;
}

.banner .ctrl .ctrl-i.now {
  background-color: #41C5F3;
}

.banner .navs-prev,
.banner .navs-next {
  visibility: hidden;
  opacity: 0;
  transition: all .5s .5s;
}

.banner:hover .navs-prev,
.banner:hover .navs-next {
  transition: all .5s;
  visibility: visible;
  opacity: 1;
}

.banner .navs .navs-prev,
.banner .navs .navs-next {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  width: 28px;
  height: 56px;
  width: 12px;
  height: 20px;
  border-width: 18px 8px;
  border-style: solid;
  border-color: #41C5F3;
  margin-top: -28px;
  background: #41C5F3 url(../images/sprites.png) no-repeat -430px 0;
}

.banner .navs .navs-next {
  right: 0;
  left: auto;
  background-position: -430px -40px;
}

.banner-small {
  width: 640px;
  height: 468px;
  box-shadow: 0 20px 44px 0 #eee;
  transition: box-shadow 0.3s;
}

.banner-small:hover {
  box-shadow: 0 30px 60px 0 #eee;
}

.ie .banner-small {
  border: 1px solid #E3E3E3;
}

.banner-small .banner-item-img {
  height: 350px;
}

.banner-small .banner-item-text {
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 25px;
}

.banner-small .banner-item.now .banner-item-text {
  opacity: 1;
  visibility: visible;
}

.banner-small .banner-item-text h2 {
  font-size: 20px;
}

.banner-small .banner-item-text h3 {
  font-size: 14px;
}

.banner.banner-small .ctrl {
  width: auto;
  right: 25px;
  bottom: 70px;
}

.banner.banner-small .ctrl .ctrl-i {
  width: 10px;
  height: 10px;
}

.banner-small .navs {
  display: block;
}

.banner-small .navs .navs-prev,
.banner-small .navs .navs-next {
  width: 23px;
  height: 40px;
  margin-top: -60px;
  background: url(../images/sprites.png) no-repeat -467px 0px;
  left: 15px;
}

.banner-small .navs .navs-next {
  background-position: -496px 0px;
  left: auto;
  right: 15px;
}

/*
* .Checkbox
*/
.checkbox:hover,
.radio:hover {
  cursor: pointer;
}

.checkbox input,
.radio input {
  position: fixed;
  left: -9999px;
}

.checkbox input + i,
.radio input + i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/form.png) no-repeat 0 -24px;
  margin-right: 3px;
  position: relative;
  top: 3px;
}

.checkbox input:checked + i {
  background-position: -16px -24px;
}

.radio input + i {
  background-position: -32px -24px;
}

.radio input:checked + i {
  background-position: -48px -24px;
}

.checkbox-large input + i,
.radio-large input + i {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.checkbox-small input + i,
.radio-small input + i {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.radio-small input + i {
  background-position: -32px -24px;
}

.radio-small input:checked + i {
  background-position: -48px -24px;
}

/*
* 优雅降级 ie6-8
*/
.ie .checkbox input,
.ie .radio input {
  position: static;
  vertical-align: middle;
}

.ie .checkbox i,
.ie .radio i {
  display: none;
}

/** 
 
 @Name： laydate 核心样式
 @Author：贤心
 @Site：http://sentsin.com/layui/laydate
 
**/
html {
  _background-image: url(about:blank);
  _background-attachment: fixed;
}

.laydate_body .laydate_box, .laydate_body .laydate_box * {
  margin: 0;
  padding: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.laydate-icon,
.laydate-icon-default,
.laydate-icon-danlan,
.laydate-icon-dahong,
.laydate-icon-molv {
  height: 22px;
  line-height: 22px;
  padding-right: 20px;
  border: 1px solid #C6C6C6;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #fff;
  outline: 0;
}

.laydate-icon-default {
  background-image: url(../skins/default/icon.png);
}

.laydate-icon-danlan {
  border: 1px solid #B1D2EC;
  background-image: url(../skins/danlan/icon.png);
}

.laydate-icon-dahong {
  background-image: url(../skins/dahong/icon.png);
}

.laydate-icon-molv {
  background-image: url(../skins/molv/icon.png);
}

.laydate_body .laydate_box {
  width: 240px;
  font: 12px '\5B8B\4F53';
  z-index: 99999999;
  *margin: -2px 0 0 -2px;
  *overflow: hidden;
  _margin: 0;
  _position: absolute !important;
  background-color: #fff;
}

.laydate_body .laydate_box li {
  list-style: none;
}

.laydate_body .laydate_box .laydate_void {
  cursor: text !important;
}

.laydate_body .laydate_box a, .laydate_body .laydate_box a:hover {
  text-decoration: none;
  blr: expression(this.onFocus=this.blur());
  cursor: pointer;
}

.laydate_body .laydate_box a:hover {
  text-decoration: none;
}

.laydate_body .laydate_box cite, .laydate_body .laydate_box label {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: dashed;
  border-color: transparent;
  overflow: hidden;
  cursor: pointer;
}

.laydate_body .laydate_box .laydate_yms, .laydate_body .laydate_box .laydate_time {
  display: none;
}

.laydate_body .laydate_box .laydate_show {
  display: block;
  border: 1px solid #bbb;
}

.laydate_body .laydate_box input {
  outline: 0;
  font-size: 14px;
  background-color: #fff;
}

.laydate_body .laydate_top {
  position: relative;
  height: 26px;
  padding: 5px;
  *width: 100%;
  z-index: 99;
}

.laydate_body .laydate_ym {
  position: relative;
  float: left;
  height: 24px;
  cursor: pointer;
}

.laydate_body .laydate_ym input {
  float: left;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.laydate_body .laydate_ym .laydate_yms {
  position: absolute;
  left: -1px;
  top: 24px;
  height: 181px;
}

.laydate_body .laydate_y {
  width: 121px;
  margin-right: 6px;
}

.laydate_body .laydate_y input {
  width: 64px;
  margin-right: 15px;
}

.laydate_body .laydate_y .laydate_yms {
  width: 121px;
  text-align: center;
}

.laydate_body .laydate_y .laydate_yms a {
  position: relative;
  display: block;
  height: 20px;
}

.laydate_body .laydate_y .laydate_yms ul {
  height: 139px;
  padding: 0;
  *overflow: hidden;
}

.laydate_body .laydate_y .laydate_yms ul li {
  float: left;
  width: 60px;
  height: 20px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.laydate_body .laydate_m {
  width: 99px;
}

.laydate_body .laydate_m .laydate_yms {
  width: 99px;
  padding: 0;
}

.laydate_body .laydate_m input {
  width: 42px;
  margin-right: 15px;
}

.laydate_body .laydate_m .laydate_yms span {
  display: block;
  float: left;
  width: 42px;
  margin: 5px 0 0 5px;
  line-height: 24px;
  text-align: center;
  _display: inline;
}

.laydate_body .laydate_choose {
  display: block;
  float: left;
  position: relative;
  width: 20px;
  height: 24px;
}

.laydate_body .laydate_choose cite, .laydate_body .laydate_tab cite {
  left: 50%;
  top: 50%;
}

.laydate_body .laydate_chtop cite {
  margin: -7px 0 0 -5px;
  border-bottom-style: solid;
}

.laydate_body .laydate_chdown cite, .laydate_body .laydate_ym label {
  top: 50%;
  margin: -2px 0 0 -5px;
  border-top-style: solid;
}

.laydate_body .laydate_chprev cite {
  margin: -5px 0 0 -7px;
}

.laydate_body .laydate_chnext cite {
  margin: -5px 0 0 -2px;
}

.laydate_body .laydate_ym label {
  right: 28px;
}

.laydate_body .laydate_table {
  width: 230px;
  margin: 0 5px;
  border-collapse: collapse;
  border-spacing: 0px;
}

.laydate_body .laydate_table td {
  width: 31px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}

.laydate_body .laydate_table thead {
  height: 22px;
  line-height: 22px;
}

.laydate_body .laydate_table thead th {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}

.laydate_body .laydate_bottom {
  position: relative;
  height: 22px;
  line-height: 20px;
  padding: 5px;
  font-size: 12px;
}

.laydate_body .laydate_bottom #laydate_hms {
  position: relative;
  z-index: 1;
  float: left;
}

.laydate_body .laydate_time {
  position: absolute;
  left: 5px;
  bottom: 26px;
  width: 129px;
  height: 125px;
  *overflow: hidden;
}

.laydate_body .laydate_time .laydate_hmsno {
  padding: 5px 0 0 5px;
}

.laydate_body .laydate_time .laydate_hmsno span {
  display: block;
  float: left;
  width: 24px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  *margin-bottom: -5px;
}

.laydate_body .laydate_time1 {
  width: 228px;
  height: 154px;
}

.laydate_body .laydate_time1 .laydate_hmsno {
  padding: 6px 0 0 8px;
}

.laydate_body .laydate_time1 .laydate_hmsno span {
  width: 21px;
  height: 20px;
  line-height: 20px;
}

.laydate_body .laydate_msg {
  left: 49px;
  bottom: 67px;
  width: 141px;
  height: auto;
  overflow: hidden;
}

.laydate_body .laydate_msg p {
  padding: 5px 10px;
}

.laydate_body .laydate_bottom li {
  float: left;
  height: 20px;
  line-height: 20px;
  border-right: none;
  font-weight: 900;
}

.laydate_body .laydate_bottom .laydate_sj {
  width: 33px;
  text-align: center;
  font-weight: 400;
}

.laydate_body .laydate_bottom input {
  float: left;
  width: 21px;
  height: 20px;
  line-height: 20px;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
}

.laydate_body .laydate_bottom .laydte_hsmtex {
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.laydate_body .laydate_bottom .laydte_hsmtex span {
  position: absolute;
  width: 20px;
  top: 0;
  right: 0px;
  cursor: pointer;
}

.laydate_body .laydate_bottom .laydte_hsmtex span:hover {
  font-size: 14px;
}

.laydate_body .laydate_bottom .laydate_btn {
  position: absolute;
  right: 5px;
  top: 5px;
}

.laydate_body .laydate_bottom .laydate_btn a {
  float: left;
  height: 20px;
  padding: 0 6px;
  _padding: 0 5px;
}

.laydate_body .laydate_bottom .laydate_v {
  position: absolute;
  left: 10px;
  top: 6px;
  font-family: Courier;
  z-index: 0;
}

/** 
 
 @Name： laydate皮肤：mj
 @Author：mlive@live.cn
 @Site：https://github.com/majunbao
 
**/
.laydate-icon {
  border: 1px solid #C6C6C6;
  background-image: url(icon.png);
}

.laydate_body .laydate_box,
.laydate_body .laydate_ym,
.laydate_body .laydate_ym .laydate_yms,
.laydate_body .laydate_table,
.laydate_body .laydate_table td,
.laydate_body .laydate_bottom #laydate_hms,
.laydate_body .laydate_time,
.laydate_body .laydate_bottom .laydate_btn a {
  /* border:1px solid #ccc; */
}

.laydate_body .laydate_y .laydate_yms a,
.laydate_body .laydate_choose,
.laydate_body .laydate_table thead,
.laydate_body .laydate_bottom .laydte_hsmtex {
  /* background-color:#F6F6F6; */
}

.laydate_body .laydate_box,
.laydate_body .laydate_ym .laydate_yms,
.laydate_body .laydate_time {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.laydate_body .laydate_box {
  background-color: #fff;
  color: #333;
  border: 1px solid #E3E3E3;
  margin-top: 2px;
}

.laydate_body .laydate_box input {
  color: #333;
}

.laydate_body .laydate_box a,
.laydate_body .laydate_box a:hover {
  color: #333;
}

.laydate_body .laydate_box a:hover {
  color: #666;
}

.laydate_body .laydate_click {
  background-color: #00AAFC !important;
  color: #fff !important;
}

.laydate_body .laydate_top {
  /*border-top:1px solid #C6C6C6;*/
}

.laydate_body .laydate_ym .laydate_yms {
  border: 1px solid #C6C6C6;
  background-color: #fff;
}

.laydate_body .laydate_y .laydate_yms a {
  border-bottom: 1px solid #C6C6C6;
}

.laydate_body .laydate_y .laydate_yms .laydate_chdown {
  border-top: 1px solid #C6C6C6;
  border-bottom: none;
}

.laydate_body .laydate_choose {
  /* border-left:1px solid #C6C6C6; */
}

.laydate_body .laydate_chprev {
  border-left: none;
  /* border-right:1px solid #C6C6C6; */
}

.laydate_body .laydate_choose:hover,
.laydate_body .laydate_y .laydate_yms a:hover {
  background-color: #fff;
}

.laydate_body .laydate_chtop cite {
  border-bottom-color: #666;
}

.laydate_body .laydate_chdown cite,
.laydate_body .laydate_ym label {
  border-top-color: #666;
}

.laydate_body .laydate_chprev cite {
  border-right-style: solid;
  border-right-color: #666;
}

.laydate_body .laydate_chnext cite {
  border-left-style: solid;
  border-left-color: #666;
}

.laydate_body .laydate_table td {
  border: none;
  height: 21px !important;
  line-height: 21px !important;
  /*background-color: #F5F5F5;*/
  color: #333;
}

.laydate_body .laydate_table .laydate_nothis {
  color: #999;
  background-color: #fff;
}

.laydate_body .laydate_box .laydate_void {
  color: #eee !important;
  /*text-decoration:line-through;*/
}

.laydate_body .laydate_box .laydate_void:hover {
  background-color: #fff !important;
}

.laydate_body .laydate_table thead {
  height: 21px !important;
  line-height: 21px !important;
}

.laydate_body .laydate_table thead th {
  /*border-bottom:1px solid #ccc;*/
}

.laydate_body .laydate_bottom {
  /* border-bottom:1px solid #C6C6C6; */
}

.laydate_body .laydate_bottom #laydate_hms {
  background-color: #fff;
}

.laydate_body .laydate_time {
  background-color: #fff;
}

.laydate_body .laydate_bottom .laydate_sj {
  background-color: #F6F6F6;
}

.laydate_body .laydate_bottom input {
  background-color: #fff;
}

.laydate_body .laydate_bottom .laydte_hsmtex {
  border-bottom: 1px solid #C6C6C6;
}

.laydate_body .laydate_bottom .laydate_btn {
  /* border-right:1px solid #C6C6C6; */
}

.laydate_body .laydate_bottom .laydate_v {
  color: #999;
}

.laydate_body .laydate_bottom .laydate_btn a {
  border-right: none;
  background-color: #F6F6F6;
}

.laydate_body .laydate_bottom .laydate_btn a:hover {
  color: #000;
  background-color: #fff;
}

.laydate_body .laydate_m .laydate_yms span:hover,
.laydate_body .laydate_y .laydate_yms ul li:hover,
.laydate_body .laydate_table td:hover,
.laydate_body .laydate_time .laydate_hmsno span:hover {
  background-color: #F3F3F3;
}

.date {
  position: relative;
  border: 1px solid #DFDFDF;
  padding: 0 30px 0 0;
  border-radius: 28px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  color: #333;
  cursor: pointer;
  overflow: hidden;
  line-height: 100%;
}

.date input {
  border: 0;
  padding: 0 0 0 10px;
  height: 28px;
  line-height: 28px;
  min-width: 98px;
  width: 98px;
}

.date input:hover {
  cursor: pointer;
}

.date i {
  position: absolute;
  right: 9px;
  top: 50%;
  margin-top: -6px;
  z-index: 1;
  display: block;
  width: 12px;
  height: 12px;
  background: url(../images/form.png) no-repeat -30px -43px;
}

.date:hover i {
  background-position: -45px -43px;
}

.date:after {
  content: '';
  display: block;
  width: 30px;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  background-color: #f6f6f6;
}

.date:hover {
  border-color: #77baf8;
  cursor: pointer;
}

.date:active,
.date:focus {
  border-color: #46a2f6;
}

.date-disabled {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.date-disabled input:hover {
  cursor: not-allowed;
}

.date-disabled i {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.date-larger {
  width: 188px;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
}

.date-larger input {
  font-size: 16px;
}

.date-small {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

.date-small input {
  font-size: 16px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.absolute-top {
  top: 0;
}

.absolute-right {
  right: 0;
}

.absolute-bottom {
  bottom: 0;
}

.absolute-left {
  left: 0;
}

/*修复 placeholder*/
.support-place-holder {
  position: relative;
}

.support-place-holder-text {
  position: absolute;
  left: 0;
  text-align: left;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  color: #969696;
  z-index: 1;
  border: none;
}

h1.logo {
  width: 1000px;
  margin: 60px auto;
  font-size: 140px;
  text-transform: capitalize;
  font-variant: small-caps;
  color: #46a2f6;
}

h1.logo small {
  font-size: 20px;
  color: #bababa;
  font-family: sans-serif;
}

section {
  font-family: verdana, "microsoft yahei";
  width: 1000px;
  margin: 0 auto 50px auto;
  overflow: hidden;
}

section h2.demo-h2 {
  font-size: 30px;
  color: #666;
  margin-bottom: 30px;
  padding-top: 20px;
  font-weight: normal;
  text-transform: capitalize;
  font-variant: small-caps;
}

section article {
  margin-bottom: 15px;
}

/*demo*/
.module {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.column p.col-num {
  text-align: center;
  background-color: #bababa;
  height: 45px;
  line-height: 45px;
  margin: 10px 0;
  color: #333;
  float: none;
}

.column:hover p.col-num {
  background-color: #bababa;
}

/*Theme Color*/
.demo-color {
  overflow: hidden;
}

.demo-color li {
  float: left;
  width: 22%;
}

.demo-color li .color {
  margin-bottom: 15px;
}

.color {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  padding: 0;
  background-color: #46a2f6;
}

.color-light {
  background-color: #77baf8;
}

.color-dark {
  background-color: #50a2ec;
}

.color.blue {
  background-color: #46a2f6;
}

.color.blue-light {
  background-color: #77baf8;
}

.color.blue-dark {
  background-color: #50a2ec;
}

.color.green {
  background-color: #2ec07e;
}

.color.green-light {
  background-color: #4dd497;
}

.color.green-dark {
  background-color: #3ab47d;
}

.color.orange {
  background-color: #fcae25;
}

.color.orange-light {
  background-color: #fdc157;
}

.color.orange-dark {
  background-color: #f1ab30;
}

.color.grey {
  background-color: #bababa;
}

.color.grey-light {
  background-color: #d4d4d4;
}

.color.grey-dark {
  background-color: #bababa;
}

.color.text {
  background-color: #333;
}

.color.text-light {
  background-color: #4d4d4d;
}

.color.text-dark {
  background-color: #333333;
}

.demo-tip {
  position: relative;
  width: 1000px;
  height: 50px;
}

.demo-tip .tip-top {
  margin-left: 0%;
}

.demo-tip .tip-right {
  margin-left: 20%;
}

.demo-tip .tip-bottom {
  margin-left: 40%;
}

.demo-tip .tip-left {
  margin-left: 60%;
}

.demo-calendar {
  position: relative;
  height: 300px;
}
